# Money Ball

In [1]:
from data import *
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

## Read and merge CSV data with current stats

In [2]:
main = pd.read_csv('data/Master.csv', dtype='str')
main = main[['playerID', 'nameFirst', 'nameLast', 'finalGame']].copy()
batting = pd.read_csv('data/Batting.csv', dtype='str')
batting = batting[['playerID', 'yearID', 'AB', 'R', 'H', 'HR', 'RBI', 'BB', 'HBP', 'SF']].copy()
salaries = pd.read_csv('data/Salaries.csv', dtype='str')
salaries = salaries[['yearID', 'teamID', 'playerID', 'salary']].copy()
fielding = pd.read_csv('data/Fielding.csv', dtype='str')
fielding = fielding[['playerID', 'yearID', 'POS', 'G']].copy()
test = pd.merge(pd.merge(main, salaries), batting)
stats = pd.merge(test, fielding)

## Change value types to ints for necessary calculations

In [3]:
stats['H'] = stats['H'].astype(float)
stats['BB'] = stats['BB'].astype(float)
stats['HBP'] = stats['HBP'].astype(float)
stats['AB'] = stats['AB'].astype(float)
stats['SF'] = stats['SF'].astype(float)
stats['G'] = stats['G'].astype(float)
stats['salary'] = stats['salary'].astype(float)

## Create OBP row in dataframe

In [4]:
stats['OBP'] = ((stats.H) + (stats.BB) + (stats.HBP))/((stats.AB) + (stats.BB) + (stats.HBP) + 
                                                       (stats.SF))

## Reduce dataframe by parameters

In [5]:
stats = stats[(stats.AB > 30)]
stats = stats[(stats.G > 20)]
stats = stats[(stats.POS != 'OF')]
stats = stats[(stats.yearID == '2015')]
stats = stats[(stats.salary < 1000000)].sort_values(by='OBP', ascending=False)
stats.index = stats.POS

## Find each player based on parameters above

In [6]:
first_base = (stats[(stats.POS == '1B')])[:1]
second_base = stats[(stats.POS == '2B')][:1]
third_base = stats[(stats.POS == '3B')][:1]
left_field = stats[(stats.POS == 'LF')][:1]
center_field = stats[(stats.POS == 'CF')][:1]
right_field = stats[(stats.POS == 'RF')][:1]
short_stop = stats[(stats.POS == 'SS')][:1]
catcher = stats[(stats.POS == 'C')][:1]
pitcher = stats[(stats.POS == 'P')][:1]

## Create new blank data frame

In [7]:
column_names=['playerID', 'nameFirst', 'nameLast', 'finalGame', 'yearID', 'teamID',
              'salary', 'AB', 'R', 'H', 'HR', 'RBI', 'BB', 'HBP', 'SF', 'POS', 'G', 'OBP']

In [8]:
 df = pd.DataFrame(np.nan, index=['1B','2B','3B','LF', 'RF', 'CF', 'SS', "C", 'P'], 
                   columns = column_names)

## Add players to blank dataframe

In [9]:
df[:1] = first_base
df[1:2] = second_base
df[2:3] = third_base
df[3:4] = left_field
df[4:5] = right_field
df[5:6] = center_field
df[6:7] = short_stop
df[7:8] = catcher
df[8:9] = pitcher

In [10]:
df

,playerID,nameFirst,nameLast,finalGame,yearID,teamID,salary,AB,R,H,HR,RBI,BB,HBP,SF,POS,G,OBP
1B,rogerja02,Jason,Rogers,2015-10-03,2015,MIL,507500.0,152.0,22,45.0,4,16,15.0,2.0,0.0,1B,24.0,0.366864
2B,panikjo01,Joe,Panik,2015-09-09,2015,SFN,522500.0,382.0,59,119.0,8,37,38.0,5.0,4.0,2B,99.0,0.377622
3B,blancan01,Andres,Blanco,2015-10-04,2015,PHI,850000.0,233.0,32,68.0,7,25,21.0,4.0,0.0,3B,36.0,0.360465
LF,yelicch01,Christian,Yelich,2015-10-04,2015,MIA,570000.0,476.0,63,143.0,7,44,47.0,2.0,0.0,LF,103.0,0.365714
RF,springe01,George,Springer,2015-10-04,2015,HOU,512900.0,388.0,59,107.0,16,41,50.0,8.0,3.0,RF,93.0,0.367483
CF,polloaj01,A. J.,Pollock,2015-10-04,2015,ARI,519500.0,609.0,111,192.0,20,76,53.0,2.0,9.0,CF,151.0,0.367013
SS,colonch01,Christian,Colon,2015-10-04,2015,KCA,509525.0,107.0,8,31.0,0,6,11.0,0.0,0.0,SS,21.0,0.355932
C,cervefr01,Francisco,Cervelli,2015-10-04,2015,PIT,987500.0,451.0,56,133.0,7,43,46.0,8.0,1.0,C,128.0,0.369565
P,degroja01,Jacob,deGrom,2015-10-04,2015,NYN,556875.0,59.0,3,11.0,0,4,3.0,0.0,0.0,P,30.0,0.225806