In [180]:
from data import *
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

In [181]:
!head data/Master.csv

playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
aardsda01,1981,12,27,USA,CO,Denver,,,,,,,David,Aardsma,David Allan,220,75,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
aaronha01,1934,2,5,USA,AL,Mobile,,,,,,,Hank,Aaron,Henry Louis,180,72,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190,75,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
aasedo01,1954,9,8,USA,CA,Orange,,,,,,,Don,Aase,Donald William,190,75,R,R,1977-07-26,1990-10-03,aased001,aasedo01
abadan01,1972,8,25,USA,FL,Palm Beach,,,,,,,Andy,Abad,Fausto Andres,184,73,L,L,2001-09-10,2006-04-13,abada001,abadan01
abadfe01,1985,12,17,D.R.,La Romana,La Romana,,,,,,,Fernando,Abad,Fernando Antonio,220,73,L,L,2010-07-28,2015-10-03,abadf001,abadfe01
abadijo01,1854,11,4,USA,PA,Philadelphia,1905,5,17,USA,NJ,Pemberton,John,Abadie,John W.,192,72,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
abbated01,1877,4,15,USA,PA,Latrobe,1957,1,6,USA,FL,Fort Lauderdale,Ed,Abbaticchio,Edward James,170,71,R,R,1897-09-04,1910-09-15,abbae101,abbated01
abbeybe01,1869,11,11,USA,VT,Essex,1962,6,11,USA,VT,Colchester,Bert,Abbey,Bert Wood,175,71,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01

In [182]:
main = pd.read_csv('data/Master.csv', dtype='str')

In [183]:
main.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220,75,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [184]:
main = main[['playerID', 'birthYear', 'nameFirst', 'nameLast', 'nameGiven', 'retroID', 'bbrefID']].copy()

In [185]:
main.head()

    playerID birthYear nameFirst nameLast       nameGiven   retroID    bbrefID
0  aardsda01      1981     David  Aardsma     David Allan  aardd001  aardsda01
1  aaronha01      1934      Hank    Aaron     Henry Louis  aaroh101  aaronha01
2  aaronto01      1939    Tommie    Aaron      Tommie Lee  aarot101  aaronto01
3   aasedo01      1954       Don     Aase  Donald William  aased001   aasedo01
4   abadan01      1972      Andy     Abad   Fausto Andres  abada001   abadan01

In [186]:
batting = pd.read_csv('data/Batting.csv', dtype='str')

In [187]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19,3,1,2,5,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27,1,1,0,2,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16,6,2,2,1,NaN,NaN,NaN,NaN,NaN

In [188]:
salaries = pd.read_csv('data/Salaries.csv', dtype='str')

In [189]:
salaries.head()

  yearID teamID lgID   playerID  salary
0   1985    ATL   NL  barkele01  870000
1   1985    ATL   NL  bedrost01  550000
2   1985    ATL   NL  benedbr01  545000
3   1985    ATL   NL   campri01  633333
4   1985    ATL   NL  ceronri01  625000

In [190]:
stats = pd.merge(pd.merge(main, salaries), batting)

In [191]:
stats.head()

,playerID,birthYear,nameFirst,nameLast,nameGiven,retroID,bbrefID,yearID,teamID,lgID,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,1981,David,Aardsma,David Allan,aardd001,aardsda01,2004,SFN,NL,...,0,0,0,0,0,0,0,0,0,0
1,aardsda01,1981,David,Aardsma,David Allan,aardd001,aardsda01,2007,CHA,AL,...,0,0,0,0,0,0,0,0,0,0
2,aardsda01,1981,David,Aardsma,David Allan,aardd001,aardsda01,2008,BOS,AL,...,0,0,0,0,1,0,0,0,0,0
3,aardsda01,1981,David,Aardsma,David Allan,aardd001,aardsda01,2009,SEA,AL,...,0,0,0,0,0,0,0,0,0,0
4,aardsda01,1981,David,Aardsma,David Allan,aardd001,aardsda01,2010,SEA,AL,...,0,0,0,0,0,0,0,0,0,0

In [192]:
stats['H']= stats['H'].astype(float).fillna(0.0)

In [193]:
stats['BB']= stats['BB'].astype(float).fillna(0.0)

In [194]:
stats['HBP']= stats['HBP'].astype(float).fillna(0.0)

In [195]:
stats['AB']= stats['AB'].astype(float).fillna(0.0)

In [196]:
stats['SF']= stats['SF'].astype(float).fillna(0.0)

In [197]:
stats['OBP'] = ((stats.H) + (stats.BB) + (stats.HBP))/((stats.AB) + (stats.BB) + (stats.HBP) + (stats.SF))

In [198]:
stats[(stats.OBP > .5) & (stats.OBP <1)].sort_values(by='OBP', ascending=False)

,playerID,birthYear,nameFirst,nameLast,nameGiven,retroID,bbrefID,yearID,teamID,lgID,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP
13555,mantoje01,1964,Jeff,Manto,Jeffrey Paul,mantj001,mantoje01,2000,COL,NL,...,0,0,2.0,0,0,0.0,0,0.0,0,0.857143
11862,kleskry01,1971,Ryan,Klesko,Ryan Anthony,klesr001,kleskry01,2006,SDN,NL,...,0,0,2.0,0,0,0.0,0,0.0,0,0.833333
22325,tucketj01,1978,T. J.,Tucker,Thomas John,tuckt001,tucket.01,2002,MON,NL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.750000
11238,jonesch06,1972,Chipper,Jones,Larry Wayne,jonec004,jonesch06,1993,ATL,NL,...,0,0,1.0,1,0,0.0,0,0.0,0,0.750000
19122,rogerke01,1964,Kenny,Rogers,Kenneth Scott,rogek001,rogerke01,2002,TEX,AL,...,1,0,1.0,0,0,0.0,0,0.0,0,0.750000
21141,stechge01,1973,Gene,Stechschulte,Gene Urban,stecg001,stechge01,2001,SLN,NL,...,0,0,1.0,1,0,0.0,0,0.0,0,0.750000
15447,munozmi01,1965,Mike,Munoz,Michael Anthony,munom001,munozmi01,1995,COL,NL,...,0,0,2.0,1,0,0.0,0,0.0,0,0.750000
1881,bierbni01,1978,Nick,Bierbrodt,Nicholas Raymond,biern001,bierbni01,2001,ARI,NL,...,0,0,2.0,0,0,0.0,2,0.0,0,0.750000
24168,woodabr01,1969,Brad,Woodall,David Bradley,woodb002,woodabr01,1999,CHN,NL,...,0,0,2.0,0,0,0.0,0,0.0,0,0.750000
695,ashbyan01,1967,Andy,Ashby,Andrew Jason,ashba002,ashbyan01,2001,LAN,NL,...,0,0,1.0,0,0,0.0,2,0.0,0,0.666667
13889,masteju01,1985,Justin,Masterson,Justin Daniel,mastj001,masteju01,2015,BOS,AL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.666667
14123,mccarda01,1969,Dave,McCarty,David Andrew,mccad001,mccarda01,2005,BOS,AL,...,0,0,2.0,0,0,0.0,0,0.0,0,0.666667
14254,mcelrch01,1967,Chuck,McElroy,Charles Dwayne,mcelc001,mcelrch01,1992,CHN,NL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.666667
15604,myersra01,1962,Randy,Myers,Randall Kirk,myerr001,myersra01,1993,CHN,NL,...,0,0,1.0,0,0,0.0,1,0.0,1,0.666667
14397,mcmicgr01,1966,Greg,McMichael,Gregory Winston,mcmig001,mcmicgr01,1997,NYN,NL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.666667
14640,meulehe01,1967,Hensley,Meulens,Hensley Filemon Acasio,meulh001,meulehe01,1992,NYA,AL,...,0,0,1.0,0,0,0.0,0,0.0,1,0.666667
14714,millake01,1971,Kevin,Millar,Kevin Charles,millk005,millake01,1998,FLO,NL,...,0,0,1.0,0,0,0.0,0,0.0,0,0.666667
14803,millewa04,1976,Wade,Miller,Wade Thomas,millw001,millewa04,2005,BOS,AL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.666667
15369,moyerja01,1962,Jamie,Moyer,Jamie,moyej001,moyerja01,1999,SEA,AL,...,0,0,1.0,1,0,0.0,1,0.0,0,0.666667
13604,marotmi01,1977,Mike,Maroth,Michael Warren,marom001,marotmi01,2003,DET,AL,...,0,0,1.0,0,0,0.0,1,0.0,0,0.666667
15436,mullira01,1956,Rance,Mulliniks,Steven Rance,mullr001,mullira01,1992,TOR,AL,...,0,0,1.0,0,0,0.0,0,0.0,0,0.666667
249,alfonan01,1972,Antonio,Alfonseca,Antonio,alfoa001,alfonan01,2002,CHN,NL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.666667
17349,persoro01,1969,Robert,Person,Robert Alan,persr001,persoro01,1995,NYN,NL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.666667
16235,olivaom01,1967,Omar,Olivares,Omar,olivo001,olivaom01,1997,DET,AL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.666667
16245,oliveda02,1970,Darren,Oliver,Darren Christopher,olivd001,oliveda02,1997,TEX,AL,...,0,0,0.0,1,0,1.0,0,0.0,0,0.666667
17025,pelfrmi01,1984,Mike,Pelfrey,Michael Alan,pelfm001,pelfrmi01,2015,MIN,AL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.666667
18915,robindo01,1957,Don,Robinson,Don Allen,robid001,robindo01,1986,PIT,NL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.666667
19482,sabatcc01,1980,CC,Sabathia,Carsten Charles,sabac001,sabatc.01,2007,CLE,AL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.666667
20614,smithda02,1955,Dave,Smith,David Stanley,smitd001,smithda02,1987,HOU,NL,...,0,0,1.0,1,0,0.0,0,0.0,0,0.666667
21108,stantmi02,1967,Mike,Stanton,William Michael,stanm003,stantmi02,1994,ATL,NL,...,0,0,0.0,0,0,0.0,1,0.0,0,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10742,jacksmi02,1964,Michael,Jackson,Michael Ray,jackm001,jacksmi02,1993,SFN,NL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.666667
7435,garcifr02,1976,Freddy,Garcia,Freddy Antonio,garcf002,garcifr03,2000,SEA,AL,...,0,0,0.0,0,0,0.0,3,0.0,0,0.666667
10150,honeyri01,1954,Rick,Honeycutt,Frederick Wayne,honer001,honeyri01,1996,SLN,NL,...,0,0,2.0,1,0,0.0,0,0.0,0,0.666667
9865,hickebr01,1963,Bryan,Hickerson,Bryan David,hickb001,hickebr01,1995,CHN,NL,...,0,0,1.0,0,0,0.0,0,0.0,0,0.666667
8421,grimsja01,1967,Jason,Grimsley,Jason Alan,grimj001,grimsja01,2000,NYA,AL,...,0,0,2.0,1,0,0.0,0,0.0,0,0.666667
8213,graveda01,1973,Danny,Graves,Daniel Peter,gravd001,graveda01,2000,CIN,NL,...,0,0,1.0,0,0,0.0,0,0.0,0,0.666667
2205,bondsba01,1964,Barry,Bonds,Barry Lamar,bondb001,bondsba01,2004,SFN,NL,...,6,1,232.0,41,120,9.0,0,3.0,5,0.609400
6858,floribr01,1970,Bryce,Florie,Bryce Bettencourt,florb001,floribr01,1998,DET,AL,...,0,0,2.0,1,0,0.0,1,0.0,0,0.600000
22948,vogelry01,1977,Ryan,Vogelsong,Ryan Andrew,voger001,vogelry01,2006,PIT,NL,...,0,0,2.0,2,0,0.0,0,0.0,0,0.600000
15548,mussimi01,1968,Mike,Mussina,Michael Cole,mussm001,mussimi01,2002,NYA,AL,...,0,0,0.0,0,0,0.0,1,0.0,0,0.600000
13606,marotmi01,1977,Mike,Maroth,Michael Warren,marom001,marotmi01,2005,DET,AL,...,0,0,1.0,2,0,0.0,1,0.0,0,0.600000
5780,draveda01,1956,Dave,Dravecky,David Francis,dravd001,draveda01,1989,SFN,NL,...,0,0,2.0,1,0,0.0,0,0.0,0,0.600000
17769,powelje01,1976,Jeremy,Powell,Jeremy Robert,powej002,powelje01,2000,MON,NL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.600000
6282,ericksc01,1968,Scott,Erickson,Scott Gavin,erics001,ericksc01,1998,BAL,AL,...,0,0,3.0,2,0,0.0,1,0.0,0,0.600000
1330,beckeri01,1972,Rich,Becker,Richard Godhard,beckr002,beckeri01,1993,MIN,AL,...,1,1,5.0,4,0,0.0,0,0.0,0,0.583333
22164,torcato01,1979,Tony,Torcato,Anthony Dale,torct001,torcato01,2004,SFN,NL,...,0,0,1.0,0,0,1.0,0,1.0,0,0.583333
2203,bondsba01,1964,Barry,Bonds,Barry Lamar,bondb001,bondsba01,2002,SFN,NL,...,9,2,198.0,47,68,9.0,0,2.0,4,0.581699
6006,dyermi01,1966,Mike,Dyer,Michael Lawrence,dyerm001,dyermi01,1995,PIT,NL,...,0,0,0.0,2,0,0.0,1,0.0,0,0.571429
14873,mintogr01,1951,Greg,Minton,Gregory Brian,mintg001,mintogr01,1986,SFN,NL,...,0,0,2.0,3,0,0.0,0,0.0,0,0.571429
21105,stantmi02,1967,Mike,Stanton,William Michael,stanm003,stantmi02,1991,ATL,NL,...,0,0,1.0,1,0,0.0,0,0.0,0,0.571429
3040,burnije01,1969,Jeromy,Burnitz,Jeromy Neal,burnj001,burnije01,1995,CLE,AL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.571429
20832,sonnaan01,1983,Andy,Sonnanstine,Andrew Michael,sonna001,sonnaan01,2008,TBA,AL,...,0,0,2.0,3,0,0.0,2,0.0,0,0.571429
4482,cookde01,1962,Dennis,Cook,Dennis Bryan,cookd001,cookde01,1997,FLO,NL,...,0,0,0.0,0,0,0.0,0,0.0,0,0.555556
3386,campbbi02,1948,Bill,Campbell,William Richard,campb001,campbbi02,1985,SLN,NL,...,0,1,3.0,2,0,0.0,0,0.0,0,0.555556
7696,gilesbr02,1971,Brian,Giles,Brian Stephen,gileb002,gilesbr02,1995,CLE,AL,...,0,0,0.0,1,0,0.0,0,0.0,0,0.555556
16314,omallto01,1960,Tom,O'Malley,Thomas Patrick,omalt001,o'malto01,1989,NYN,NL,...,0,0,0.0,2,0,0.0,0,0.0,0,0.545455
7664,gibbojo02,1962,John,Gibbons,John Michael,gibbj001,gibbojo02,1986,NYN,NL,...,0,0,3.0,5,1,0.0,0,0.0,1,0.545455
19911,schatda01,1954,Dan,Schatzeder,Daniel Ernest,schad001,schatda01,1986,MON,NL,...,0,0,5.0,8,0,0.0,0,0.0,0,0.538462
2204,bondsba01,1964,Barry,Bonds,Barry Lamar,bondb001,bondsba01,2003,SFN,NL,...,7,0,148.0,58,61,10.0,0,2.0,7,0.529091
2202,bondsba01,1964,Barry,Bonds,Barry Lamar,bondb001,bondsba01,2001,SFN,NL,...,13,3,177.0,93,35,9.0,0,2.0,5,0.515060